@using Data.Dtos.WorkShowCaseDTOs


@{
    ViewData["Title"] = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int deletedItemId = 0;
}
@model WorkShowCaseDTO
<div class="col-lg-12">
    <div class="card">
        <div style="margin: 20px">
            <select name="langId" class=" form-control" id="languageSelect">
                @foreach (var item in ViewBag.Languages)
                {
                    bool isSelected = ViewBag.SelectedLanguageId == item.Id;
                    if (isSelected)
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="card-body">
            <h4 class="card-title">Work Show Case Edit</h4>
            <div class="basic-form">
                <div class="form-group row">
                    <input id="Id" asp-for="Id" type="text" class="form-control input-default" hidden>
                    <input id="LangId" asp-for="LangId" type="text" class="form-control input-default" hidden>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Title Enter</label>

                    <div class="col-md-10">
                        <input id="Title" asp-for="Title" type="text" class="form-control input-default" value="@Model.Title" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Description Enter</label>
                    <div class="col-md-10">
                        <textarea id="Description" asp-for="Description" type="text" style="min-height: 200px;" class="form-control input-default"> </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" id="submitBtn" class="btn btn-dark">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" data-target="#SubModal" data-toggle="modal" data-placement="top" title="add sub service" style="cursor : pointer; color:white">
                <i class="fa fa-plus "></i> Add Item
            </a>
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-bordered verticle-middle" id="navbarTable">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">SubTitle</th>
                            <th scope="col">Description</th>
                            <th scope="col">SubDescription</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.WorkShowCaseItems != null && Model.WorkShowCaseItems.Any())
                        {
                            foreach (var item in Model.WorkShowCaseItems)
                            {

                                <tr data-lang="@item.LangId">
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.SubTitle</td>
                                    <td>@item.Description</td>
                                    <td>@item.SubDescription</td>
                                    <td>
                                        <span>
                                            <a onclick="getSubItem(@item.Id)" data-target="#SubModal" data-toggle="modal" data-placement="top" title="Düzenle">
                                                <i class="fa fa-pencil color-muted m-r-5"></i>
                                            </a>
                                            <a data-target="#DeleteModal" data-toggle="tooltip" data-placement="top" title="Kapat" style="cursor : pointer;">
                                                <i class="fa fa-close color-danger"></i>
                                            </a>
                                            @{
                                                deletedItemId = item.Id;
                                            }
                                        </span>
                                    </td>
                                </tr>

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">No items found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/Admin/WorkShowCase/Manage/@deletedItemId" type="button" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>
<!-- Sub Modal -->
<div class="modal fade" id="SubModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select name="langId" class=" form-control" id="SublanguageSelect">
                    @foreach (var item in ViewBag.Languages)
                    {
                        bool isSelected = ViewBag.SelectedLanguageId == item.Id;
                        if (isSelected)
                        {
                            <option selected value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
                <div class="card-body">
                    <h4 class="card-title">Sub Item</h4>
                    <div class="basic-form">
                        <div class="form-group row">
                            <input id="SubId" type="text" class="form-control input-default" hidden>
                            <input id="SubLangId" type="text" class="form-control input-default" hidden>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Title</label>
                            <div class="col-md-10">
                                <input id="SubTitle" type="text" class="form-control input-default" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Sub Title</label>
                            <div class="col-md-10">
                                <input id="SubItemSubTitle" type="text" class="form-control input-default" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-10">
                                <input id="SubDescription" type="text" class="form-control input-default" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Sub Description</label>
                            <div class="col-md-10">
                                <input id="SubItemSubDescription" type="text" class="form-control input-default" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitSubBtn" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let LanguageId = $('#languageSelect').val();
        $('#LangId').val(LanguageId);

        $(document).on('change', '#languageSelect', function () {
            let LanguageId = $('#languageSelect').val();
            window.location.href = `/Admin/WorkShowCase/Manage?languageId=${LanguageId}`;
        });
        // SublanguageSelect
        let SubLanguageId = $('#SublanguageSelect').val();
        $('#SubLangId').val(SubLanguageId);
        $(document).on('change', '#SublanguageSelect', function () {
            let SubLanguageId = $('#SublanguageSelect').val();
            $('#SubLangId').val(SubLanguageId);
            let id = $('#SubId').val();
            getSubItem(id);
        });

        $(document).on('click', '#submitBtn', function () {
            var data = {
                Id: $('#Id').val(),
                LangId: $('#LangId').val(),
                Title: $('#Title').val(),
                Description: $('#Description').val()
            }
            $.ajax({
                type: "POST",
                url: "/Admin/WorkShowCase/Save",
                data: data,
                success: function (response) {
                    if (response.isSuccess) {
                        window.location.reload();
                    }
                    else {
                        alert(response.errors);
                    }
                }
            });
        });

        // submit Sub Item
        $(document).on('click', '#submitSubBtn', function () {
            var data = {
                Id: $('#SubId').val(),
                WorkShowCaseId: $('#Id').val(),
                LangId: $('#SubLangId').val(),
                Title: $('#SubTitle').val(),
                SubTitle: $('#SubItemSubTitle').val(),
                Description: $('#SubDescription').val(),
                SubDescription: $('#SubItemSubDescription').val()
            }
            $.ajax({
                type: "POST",
                url: "/Admin/WorkShowCase/ManageSubItem",
                data: data,
                success: function (response) {
                    if (response.isSuccess) {
                        window.location.reload();
                    }
                    else {
                        alert(response.errors);
                    }

                }
            });
        });
    });

    function getSubItem(id) {
        $.ajax({
            type: "GET",
            url: "/Admin/WorkShowCase/GetSubItem",
            data: { id: id, WorkShowCaseId: $('#Id').val(), languageId: $('#SubLangId').val() },
            success: function (response) {
                $('#SubId').val(response.id);
                $('#SubTitle').val(response.title);
                $('#SubItemSubTitle').val(response.subTitle);
                $('#SubDescription').val(response.description);
                $('#SubItemSubDescription').val(response.subDescription);

            },
            error: function () {
                alert('An unexpected error occurred.');
            }
        });
    }
</script>