@using Data.Dtos.NavBarDTOs

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int deletedItemId = 0;
}
@model List<NavBarItemDTO>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Dil Seçin</h4>
                <div class="basic-form">
                    <form>
                        <div class="form-group">
                            <label for="languageSelect">Dil Seçin:</label>
                            <form action="/Admin/Navbar/Navbar" method="get">
                                <select name="langId" class="form-control" id="languageSelect">

                                    @foreach (var item in ViewBag.Languages)
                                    {

                                        bool isSelected = ViewBag.SelectedLanguageId == item.Id;
                                        if (isSelected)
                                        {

                                            <option selected value="@item.Id">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>

                                        }
                                    }
                                </select>
                                <br />
                                <button class="btn btn-success" type="submit">Filtrele</button>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-success mb-3" href="Manage.cshtml">+ EKLE</a>
                <h4 class="card-title">Navbar Öğeleri</h4>
                <div class="table-responsive">
                    <table class="table table-bordered verticle-middle" id="navbarTable">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Ad</th>
                                <th scope="col">URL</th>
                                <th scope="col">Oluşturulma Tarihi</th>
                                <th scope="col">Güncellenme Tarihi</th>
                                <th scope="col">Alt Menü</th>
                                <th scope="col">Görünürlük</th>
                                <th scope="col">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-lang="@item.LangId">
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Url</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.UpdatedDate</td>
                                    <td>@item.HasSubItem</td>
                                    <td>@item.IsVisible</td>
                                    <td>
                                        <span>
                                            <a href="/Admin/Navbar/Manage/@item.Id?languageId=@ViewBag.SelectedLanguageId" data-toggle="tooltip" data-placement="top" title="Düzenle">
                                                <i class="fa fa-pencil color-muted m-r-5"></i>
                                            </a>
                                            <a  data-target="#DeleteModal" data-toggle="tooltip" data-placement="top" title="Kapat" style="cursor : pointer;">
                                                <i class="fa fa-close color-danger"></i>
                                            </a>
                                            @{
                                                deletedItemId = item.Id;
                                            }
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/Admin/Navbar/Manage/@deletedItemId" type="button" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>